body {
    background-color: #D5F5E3;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 100%;
	margin: 30; padding: 10;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
	margin-left: 20px
}
a {
    text-decoration: none;
    color: #196F3D;
	font-size: 20px;
}
a:hover {
    color: #02b8dd;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}
.clear {
    clear: both;
}
.wrapper1{
    margin: 0 auto;
    padding: 0 10px;
    width: 800px;
	height: 600px;
	float: left;
}
.wrapper2{
    margin: 0 auto;
    padding: 0 10px;
    width: 600px;
	height: 600px;
	float: right;
}
p{
	margin-top: 40px;
	text-align: justify;
	margin-right:50px;
	font: normal 20px "Trebuchet MS", Verdana, sans-serif;
	font-weight: 500;
	color: #1B2631;
	
}
header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 32px;
}
header h1 .color {
    color: #02b8dd;
}
header nav {
    float: right;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li{
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 60px;
}
#hero-image{
    height: 600;
    padding-top: 1px;
}
#copyright
{	 
	 text-align: center;
	 position: absolute;
	 margin: auto;
     left: 0; bottom: 0; right: 0; 
	 font-weight: 500;
	 color: #1B2631;
	 font: normal 20px "Trebuchet MS", Verdana, sans-serif;
}
